[submodule "LaTeXLecture"]
	path = LaTeXLecture
	url = git@github.com:Fumire/LaTeXLecture.git
[submodule "LinuxLecture"]
	path = LinuxLecture
	url = git@github.com:Fumire/LinuxLecture.git
[submodule "PythonLecture"]
	path = PythonLecture
	url = git@github.com:Fumire/PythonLecture.git
[submodule "GitLecture"]
	path = GitLecture
	url = git@github.com:Fumire/GitLecture.git
